.container {
  background-color: black;
  opacity: 0.74;
  color: white;
  display: flex;
}

.container li {
  padding: var(--padding-md);
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.container li a {
  color: var(--white-color);
}
